@page
@model PhotosDataBase.Pages.ImportPhotosModel
@{
    ViewData["Title"] = "Import Photos do diary";
}

<div class="text-center">
    <h3>Import Photos do diary</h3>
    <div class="text-center"><h5 class="text-danger" id="errMessage"></h5></div>
    <div class="form-inline" style="margin:10px;">
        <button type="button" id="startImport" class="btn btn-info" style="margin-right:10px; width:120px;">Load Photos</button>
        <button type="button" id="cancelLoading" class="btn btn-warning" disabled="disabled" style="width:70px;">Cancel</button>
    </div>

    <table>
        <tr>
            <td>
                <h5 id="importedPhotosCount"></h5>
            </td>
            <td>
                <div class="progress" style="margin:5px auto;width:420px;display:none" id="phProgressDiv">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:0%;height:20px" id="progressBarPhotos">
                        0%
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <h5 id="createdRecordsCount"></h5>
            </td>
            <td>
                <div class="progress" style="margin:5px auto;width:420px;display:none" id="recProgressDiv">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:0%;height:20px" id="progressBarRecords">
                        0%
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>


@section Scripts{
    <script>
        "use strict";

        var connection = new signalR.HubConnectionBuilder().withUrl("/photosimport").build();
        var cancelConnection = new signalR.HubConnectionBuilder().withUrl("/photosimport").build();

        connection.on("ShowServerError", function (message) {
            console.error("Server error: " + message);
            document.getElementById("errMessage").innerText = message;

            document.getElementById("startImport").removeAttribute("disabled");
            document.getElementById("cancelLoading").setAttribute("disabled", "disabled");
        });

        connection.on("ShowImportProcess", function (recordsCount, createdRecordsCount, photosCount, createdPhotosCount) {
            let percentRec = (createdRecordsCount / recordsCount * 100).toFixed(2);
            let percentPhotos = (createdPhotosCount / photosCount * 100).toFixed(2);
            document.getElementById("createdRecordsCount").innerText = "Created records " + createdRecordsCount + " / " + recordsCount;
            document.getElementById("importedPhotosCount").innerText = "Loading photos: " + createdPhotosCount + " / " + photosCount;

            document.getElementById("progressBarRecords").innerText = percentRec + "%";
            document.getElementById("progressBarRecords").style.width = percentRec + "%";
            document.getElementById("progressBarPhotos").innerText = percentPhotos + "%";
            document.getElementById("progressBarPhotos").style.width = percentPhotos + "%";
        });

        connection.on("ShowImportResult", function () {
            document.getElementById("importedPhotosCount").innerText = "All photos are imported";
            document.getElementById("createdRecordsCount").innerText = "All records are created";

            document.getElementById("recProgressDiv").style.display = "none";
            document.getElementById("phProgressDiv").style.display = "none";
            document.getElementById("startImport").removeAttribute("disabled");
            document.getElementById("cancelLoading").setAttribute("disabled", "disabled");
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });
        cancelConnection.start().catch(function (err) {
            return console.error(err.toString());
        });

        document.getElementById("startImport").addEventListener("click", function (event) {
            connection.invoke("ImportPhotosToDiary").catch(function (err) {
                document.getElementById("errMessage").innerText = err.toString();
                return console.error(err.toString());
            });

            document.getElementById("progressBarRecords").innerText = "0%";
            document.getElementById("progressBarRecords").style.width = "0%";
            document.getElementById("progressBarPhotos").innerText = "0%";
            document.getElementById("progressBarPhotos").style.width = "0%";

            document.getElementById("recProgressDiv").style.display = "block";
            document.getElementById("phProgressDiv").style.display = "block";

            document.getElementById("startImport").setAttribute("disabled", "disabled");
            document.getElementById("cancelLoading").removeAttribute("disabled");

            event.preventDefault();
        });

        document.getElementById("cancelLoading").addEventListener("click", function (event) {

            cancelConnection.invoke("CancelImporting").catch(function (err) {
                document.getElementById("errMessage").innerText = err.toString();
                return console.error(err.toString());
            });

            document.getElementById("startImport").removeAttribute("disabled");
            document.getElementById("cancelLoading").setAttribute("disabled", "disabled");

            event.preventDefault();
        });

    </script>
}
